[role=tabpanel] {
    [class^='settingsTabBar_'], .tabBar_d6f9e9.top_aa8da2 {
        align-items: center;
        justify-content: space-evenly;
        border-bottom: none;
    
        .tabBarItem_d6f9e9 {
            margin: 0;
        }
    }
    }