// CHANNEL TEXT AREA
.form_f75fb0 {
    padding: 0 8px;

    .wrapper__44df5 {
        border-radius: var(--unity-border-radius);
        margin-bottom: 4px;
        background: var(--background-primary);
        box-shadow: var(--elevation-low);
    }

    &::before {
        display: none;
    }


    &:has(.typing_b88801) {
        
        .channelTextArea_f75fb0 {
            margin-bottom: 24px;
        }
    }

    .typing_b88801 {
        animation: fadein 0.5s ease-in normal forwards;
    }

    .channelTextArea_f75fb0 {
        margin-bottom: 8px;

        .threadSuggestionBar__841c8 {
            border-radius: var(--unity-border-radius);
            margin-top: 5px;
            box-shadow: none;
        }
    

        :root.full-motion & {
            transition: margin-bottom ease-out 0.2s;
        }

        .custom-theme-background & {
            background-color: transparent;
        }

        .autocomplete__13533 {
            border-radius: var(--unity-border-radius);
            background-color: var(--unity-background-floating);
             &::before {
                content:"";
                backdrop-filter: blur(30px);
                position:absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                z-index: -1;
             }

            .rail_d1405b {


                .wrapper_dc0b29 {
                    background: transparent;
                }
            }

            ul[role="group"] {
                .categoryHeader_d1405b {
                    background: none;

                    .header__14245[role="button"] {
                        margin-top: 12px;
                    }
                }
            }
        }

        .scrollableContainer__74017 {
            &:not(.channelTextAreaInner-2_mflx) {
                border-radius: calc(var(--unity-border-radius) - 6px);
                overflow-y: overlay !important;
            }

            &.hasStackedBar__74017 {
                background: var(--brand-experiment-25a);
            }
        }

        .actionBar_aa605f {
            .wrapper_f7ecac {
                border-radius: var(--unity-border-radius);

                button {
                    &:first-of-type {
                        border-top-left-radius: var(--unity-border-radius);
                        border-bottom-left-radius: var(--unity-border-radius);
                    }

                    &:last-of-type {
                        border-top-right-radius: var(--unity-border-radius);
                        border-bottom-right-radius: var(--unity-border-radius);
                    }
                }
            }
        }

        .stackedBars__74017 {
            padding-bottom: 5px;
            background: transparent;
            border-radius: var(--unity-border-radius);

            .replyBar__841c8 {
                border-radius: var(--unity-border-radius);
            }
        }

        .buttons__74017 {
            margin-right: 6px;

            // Send button stuff
            .innerButton_aa63ab {
                margin: 0;
            }

            .separator_aa63ab {
                margin-left: 8px;

                >.buttonContainer_aa63ab>button:last-of-type {
                    width: 35px;
                    height: 35px;
                    align-items: center;
                    align-self: center;
                    border-radius: calc(var(--unity-border-radius) - 8px);
                    margin-left: 10px;

                    .contents__201d5 {
                        margin: 0 auto;
                    }

                    &:not(:disabled) {
                        background-color: var(--brand-experiment);
                    }
                }
            }
        }
    }
}

/* SLATE TOOLBAR  */
#slate-toolbar {
    border-radius: var(--unity-border-radius);

    .buttons_bba883 {
        button {
            border-radius: var(--unity-border-radius);

            &:first-of-type {
                border-radius: var(--unity-border-radius) 0 0 var(--unity-border-radius);
            }

            &:last-of-type {
                border-radius: 0 var(--unity-border-radius) var(--unity-border-radius) 0;
            }
        }
    }
}