.menu_c1e9c4 {
    [role="menuitemradio"]:not(:hover) {
        svg.icon_c1e9c4 {
            >path:has(+ .radioSelection_c1e9c4) {
                color: var(--brand-experiment);
            }
        }
    }
    &:not(#account) {
        border-radius: var(--unity-border-radius);

        .item_c1e9c4 {
            &:nth-child(2) {
                margin-top: 0px;
            }
        }

        >.scroller_c1e9c4 {

            :not([role^="group"]) [role^="menuitem"]:only-of-type {
                margin: 0;
                border-radius: var(--unity-border-radius);
            }

            >.item_c1e9c4 {


                &:first-of-type {
                    padding-top: 10px;
                    margin-top: 0;
                }
            }

            [role="group"] {

                &:first-of-type {
                    .submenu_c1e9c4 {
                        .item_c1e9c4 {
                            padding-top: 10px;
                            margin-top: 0;
                        }
                    }

                    .item_c1e9c4 {
                        &:first-of-type {
                            padding-top: 10px;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}


.menu_c1e9c4:not(#account)>.scroller_c1e9c4 [role="group"]:nth-last-child(2)>[role^="menuitem"]:last-of-type,
.menu_c1e9c4:not(#account)>.scroller_c1e9c4>[role^="menuitem"]:nth-last-of-type(2) {
    /* border-radius: 0px 0px var(--unity-border-radius) var(--unity-border-radius); */
    padding-bottom: 10px;
    margin-bottom: 0;
}


.menu_c1e9c4>.scroller_c1e9c4::-webkit-scrollbar {
    width: 0;
}

.menu_c1e9c4#account>.scroller_c1e9c4 [role="group"]:first-of-type>.submenuContainer-3EVTeH:last-child>.item_c1e9c4:not([id^="account-divider"]) {
    margin: 0;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.submenuPaddingContainer_c1e9c4 {
    padding: 0 4px;
}

.item_c1e9c4.labelContainer_c1e9c4 {
    padding-left: 15px;
    padding-right: 15px;
}

.item_c1e9c4 .caret_c1e9c4 {
    transform: translate(5px, 1px);

}

.item_c1e9c4 .grabber_a562c8 {
    transform: translateY(1px);
}

.item_c1e9c4:not([id^="account-divider"]) {
    border-radius: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.labelContainer-2vJzYL,
.statusItem-2a1giL {
    padding-left: 15px;
    padding-right: 15px;
}

.clickable__13533 {
    padding: 0;
}

.base__13533 {
    border-radius: 0px;
}


.menu_c1e9c4>.scroller_c1e9c4 {
    padding: 0;
}


.menu_c1e9c4:not(#account),
.menu_c1e9c4:not(#account)>.scroller_c1e9c4 {
    border-radius: var(--unity-border-radius);

}




.popout_a16aea,
.popout_a16aea.popoutPositionTop_a16aea {
    border-radius: var(--unity-border-radius);
    top: 8px;
    box-shadow: 0px 0px 10px 1px var(--unity-background-tertiary);
    background: var(--unity-background-floating);
    -webkit-backdrop-filter: blur(var(--unity-floating-blur-radius));
    backdrop-filter: blur(var(--unity-floating-blur-radius));
    margin-top: 5px;
}

.menu_c1e9c4:not(#account),
.popoutContainer__0f481 {
    background: var(--unity-background-floating);
}

.popoutContainer__0f481 {
    -webkit-backdrop-filter: blur(var(--unity-floating-blur-radius));
    backdrop-filter: blur(var(--unity-floating-blur-radius));
}

[id^=popout_]:not(#account):has(.menu_c1e9c4)>.scroller_c1e9c4 {
    border-radius: var(--unity-border-radius);
}

/*Blur using pseudoelement else submenus break */
.menu_c1e9c4:not(#account).submenu_c1e9c4::before,
.menu_c1e9c4:not(#account, .submenu_c1e9c4)::before {
    -webkit-backdrop-filter: blur(var(--unity-floating-blur-radius));
    backdrop-filter: blur(var(--unity-floating-blur-radius));
    content: "";
    border-radius: var(--unity-border-radius);
    transform-origin: center center;
    width: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

.menu_c1e9c4:not(#account, .submenu_c1e9c4)::before {
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
}

/* submenus with borders end up being the wrong size... looking at super reactions here */

.menu_c1e9c4:not(#account).submenu_c1e9c4::before {
    height: 100%;
    width: calc(100% - 8px);
    display: block;
    position: absolute;
    top: 2px;
}