/* Samsung Sharp Sans */

@font-face {
  font-family: "Samsung Sharp Sans";
  src: url(https://cdn.jsdelivr.net/gh/wcnrny/Unity@main/Fonts/SamsungSharpSans/SamsungSharpSans.ttf)
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Samsung Sharp Sans";
  src: url(https://cdn.jsdelivr.net/gh/wcnrny/Unity@main/Fonts/SamsungSharpSans/SamsungSharpSans-Medium.ttf)
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Samsung Sharp Sans";
  src: url(https://cdn.jsdelivr.net/gh/wcnrny/Unity@main/Fonts/SamsungSharpSans/SamsungSharpSans-Bold.ttf)
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
